          
          <div class="awards">
            <h2>Selected Awards</h2>
              <ul>
                <li>SenseTime Scholarship, 2022 (awarded to 30 students in China)</li>
                <li>May 4th Scholarship, 2021 (the highest honor for students in PKU)</li>
                <li>National Scholarship, 2020, 2022</li>
                <li>First prize in 12th Chinese Mathematics Competition Final, 2020</li>
                <li>Merit Student Pacesetter, 2020, 2021, 2022</li>
                <li>First Class Scholarship for Freshmen of Peking University, 2019</li>
              </ul>
          </div>
